<div class="align-content-center">
  <h3>Update Order</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="order.firstName" name="firstName">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="order.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="order.email" name="email">
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" id="location" [(ngModel)]="order.location" name="location">
    </div>
    <div class="form-group">
      <label>Item</label>
      <input type="text" class="form-control" id="item" [(ngModel)]="order.item" name="item">
    </div>
    <div class="form-group">
      <label>Status</label>
      <input type="text" class="form-control" id="status" [(ngModel)]="order.status" name="status">
    </div>
    <div class="form-group">
      <label>Payed</label>
      <input type="checkbox" class="form-check" id="payed" [(ngModel)]="order.payed" name="payed">
    </div>

    <button class="btn btn-success" type="submit">Submit!</button>
  </form>
</div>
