<nav class="navbar navbar-expand-sm bg-black navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="orders" routerLinkActive="active" class="nav-link">List Orders</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-order" routerLinkActive="active" class="nav-link">Add Order</a>
    </li>
  </ul>
</nav>

<br>
<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="card-footer fixed-bottom">
  <div class="container">
    <span>PRODYNA Clean It! AG demo</span>
  </div>
</footer>
