<h3>View Order Details</h3>
<div>
  <div>
    <label><b>Customer First Name: </b></label> {{order.firstName}}
  </div>
  <div>
    <label><b>Customer Last Name: </b></label> {{order.lastName}}
  </div>
  <div>
    <label><b>Email: </b></label> {{order.email}}
  </div>
  <div>
    <label><b>Location: </b></label> {{order.location}}
  </div>
  <div>
  <label><b>Item: </b></label> {{order.item}}
  </div>
  <div>
    <label><b>Status: </b></label> {{order.status}}
  </div>
  <div>
    <label><b>Payed: </b></label> {{order.payed}}
  </div>
  <div>
    <button (click)="updateOrder(order.id)" class="btn btn-success" style="margin-top: 10px">Update</button>
  </div>
</div>
