<h2>Local Orders
  <button (click)="viewAllOrders()" class="btn btn-dark float-end">View all Orders</button>
</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Customer Email</th>
    <th>Location</th>
    <th>Item</th>
    <th>Status</th>
    <th>Payed</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let order of orders" >
    <td> {{order.email}} </td>
    <td> {{order.location}} </td>
    <td> {{order.item}} </td>
    <td> {{order.status}} </td>
    <td> {{order.payed}} </td>
    <td>
      <button (click)="detailsOrder(order.id)" class="btn btn-info">View</button>
      <button (click)="updateOrder(order.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
      <button (click)="deleteOrder(order.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
